<%- include ('layout/header.ejs') %> 

    <a href="/create">add</a>
    <ul>
        <% posts.forEach(function(post){ %>
          <li>
              <%= post.title %>
              <br>
              <%= post.body %>
          </li>
        <% }); %>
      </ul>

<%- include ('layout/footer.ejs') %> 



